:root {
  --container-padding: 20px;
  --container-margin: 40px;
  --container-margin-bigscreen: 15vh;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Caveat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url(https://fonts.gstatic.com/s/caveat/v10/WnznHAc5bAfYB2QRah7pcpNvOx-pjfJ9eIWpZz5Kmgq3sw.woff)
    format("woff");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url(https://fonts.gstatic.com/s/raleway/v19/1Ptsg8zYS_SKggPNyCg4TYFqL_KWxQ.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    url(https://fonts.gstatic.com/s/raleway/v19/1Ptsg8zYS_SKggPNyCg4TYFqL_KWxQ.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url(https://fonts.gstatic.com/s/raleway/v19/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url(https://fonts.gstatic.com/s/raleway/v19/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

body {
  font: normal normal 13px/16px "Raleway", sans-serif;
  background: #eef5ff;
  line-height: 1.15;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.container {
  padding: 0 var(--container-padding) var(--container-padding);
  width: 100%;
  max-width: 500px;
  max-height: calc(100vh - 2 * var(--container-margin));
  margin: var(--container-margin);
  background: rgb(255, 245, 106);
  border: solid black 0.5px;
  border-radius: 15px;
  overflow: auto;
}

@media all and (min-height: 1799px) {
  .container {
    margin-top: var(--container-margin-bigscreen);
    margin-bottom: var(--container-margin-bigscreen);
    max-height: calc(100vh - 2 * var(--container-margin-bigscreen));
  }
}

@media all and (max-width: 364px) {
  .container {
    margin: 5px;
  }
}

#sticky-header {
  position: sticky;
  top: 0;
  background: rgb(255, 245, 106);
}

h2 {
  margin: 0 0 13px;
  padding-top: 33px;
}

form {
  display: inline-block;
  margin: 0 0 13px;
}

input {
  padding: 4px 15px 4px 5px;
  width: 100%;
}

#button {
  display: inline-block;
  background-color: #fc999b;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  margin: 2px 0 13px;
  padding: 5px 15px;
}

#button:hover {
  cursor: pointer;
  opacity: 0.8;
}

ol {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

ol li {
  padding: 5px;
  color: rgb(66, 66, 66);
  font: normal 20px "Caveat", sans-serif;
  background: white;
}

ol li:nth-child(even) {
  background: #dfdfdf;
}

.strike {
  text-decoration: line-through;
}

li:hover {
  cursor: pointer;
}

.delete {
  display: none;
}

li > button {
  background: none;
  border: none;
  float: right;
  font-size: 16px;
  font-weight: 700;
  color: inherit;
}
