@import './fonts.css';
@import './animations.css';

/* General styling */

:root {
  --container-padding: 20px;
  --container-margin: 40px;
  --container-margin-bigscreen: 15vh;
}

* {
  box-sizing: border-box;
}

body {
  font: normal 13px "Raleway", sans-serif;
  background: #eef5ff;
  line-height: 1.15;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  min-width: 280px;
}

.container {
  padding: 0 var(--container-padding) var(--container-padding);
  margin: var(--container-margin);
  width: 100%;
  max-width: 500px;
  max-height: calc(100vh - 2 * var(--container-margin));
  background: rgb(255, 245, 106);
  border: solid black 0.5px;
  border-radius: 15px;
  overflow: auto;
}

@media all and (min-height: 1799px) {
  .container {
    margin-top: var(--container-margin-bigscreen);
    margin-bottom: var(--container-margin-bigscreen);
    max-height: calc(100vh - 2 * var(--container-margin-bigscreen));
  }
}

@media all and (max-width: 364px) {
  .container {
    margin: 5px;
    max-height: none;
  }
}

/* Styling of the list itself */

/* Header */

#sticky-header {
  position: sticky;
  top: 0;
  background: rgb(255, 245, 106);
}

h2 {
  margin: 0 0 13px;
  padding-top: 33px;
}

form {
  display: inline-block;
  margin: 0 0 13px;
}

input {
  padding: 4px 15px 4px 5px;
  width: 100%;
}

#button {
  display: inline-block;
  background-color: #fc999b;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  margin: 2px 0 13px;
  padding: 5px 15px;
  transition: 0.25s;
}

#button:hover {
  cursor: pointer;
  opacity: 0.6;
  color: black;
}

.validationError {
  display: block;
  font-size: 11px;
  color: red;
  margin-bottom: 13px;
}

/* List */

li {
  transition: 0.25s;
}

#list,
#checkedList {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

#list li,
#checkedList li {
  padding: 5px;
  color: rgb(66, 66, 66);
  font: normal 20px "Caveat", sans-serif;
  background: white;
  display: flex;
  align-items: center;
}

li:hover,
lcheckedL:hover {
  cursor: grab;
}

#list li:nth-child(even) {
  background: #dfdfdf;
}

li > input,
li > button {
  cursor: pointer;
  flex-basis: 30px;
  flex-shrink: 0;
}

li > input {
  height: 16px;
  order: 1;
  flex-grow: 0;
}

li > span {
  order: 2;
  flex-basis: 100%;
  padding: 0 5px;
  max-width: calc(100% - 60px);
  overflow-wrap: break-word;
}

li > button {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: inherit;
  order: 3;
}

/* Checked List */

#checkedList li {
  background: rgba(128, 128, 128, 0.288);
  color: gray;
}

#checkedList li:nth-child(even) {
  background: rgba(80, 80, 80, 0.288);
}

/* Aux classes */

.strike {
  text-decoration: line-through;
}

.delete {
  display: none;
}
